@charset 'utf-8';
// =======================================================================
// footer に属するスタイル
// =======================================================================
footer {
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #fcfcfc;
}

// Page Top
.goTop {
    font-size: 12px;
    margin-bottom: 15px;
    a {
        width: 55px;
        height: auto;
        margin-right: auto;
        margin-left: auto;
        display: block;
        color: #333;
        font-family: 'Vollkorn', serif;
    }
    a:hover,
    a:active {
        color: #333;
        opacity: 1;
        img {

            -webkit-transform: scale(1.3) translateY(-3px);
            transform: scale(1.3) translateY(-3px);
        }
    }
    img {
        -webkit-transition: 0.3s;
        transition: 0.3s;
        width: 50%;
        height: auto;
    }
    span {
        display: inline-block;
    }
}


// copyright
.copyright p {
    margin: 0;
    font-size: 10px;
    text-align: center;
    color: #949494;
    @media only screen and (min-width: 990px){
        font-size: 12px;
    }
}


// footernav
.footerNav {
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    width: 90%;
    text-align: center;
    li {
        display: inline;
        vertical-align: middle;
        height: 15px;
        font-size: 10px;
        line-height: 1.5;
        text-align: center;
        color: #262626;
        white-space: nowrap;
    }
    li::after {
//        @include has-afterItem_nav;
        padding-right: 5px;
        padding-left: 5px;
        content: "|";
    }
    li:last-child::after {
        content: "";
    }
    a {
        color: #262626;
    }
    // 990x以上の指定
    @media only screen and (min-width: 990px){
        li {
            font-size: 12px;
        }
    }
}




